include BSAC/data/XN_CMIP5.nc
include BSAC/data/XN_CMIP6.csv
include BSAC/data/STAN_GEVMODEL_PRIOR-MULTINORMAL.stan
include BSAC/data/STAN_GEVMODEL_PRIOR-NORMAL.stan
include BSAC/data/STAN_NORMALMODEL_PRIOR-MULTINORMAL.stan
include BSAC/data/STAN_NORMALMODEL_PRIOR-NORMAL.stan
include BSAC/data/EXAMPLE_GMST.tar.gz
include BSAC/data/EXAMPLE_GMST.txt
include BSAC/data/EXAMPLE_NORMAL_FRA08.tar.gz
include BSAC/data/EXAMPLE_NORMAL_FRA08.txt
include BSAC/data/EXAMPLE_GEV_IDF.tar.gz
include BSAC/data/EXAMPLE_GEV_IDF.txt
include BSAC/data/EXAMPLE_GEV_PARIS.tar.gz
include BSAC/data/EXAMPLE_GEV_PARIS.txt
rnclude BSAC/data/EXAMPLE_GEV_PARIS-SSP126.tar.gz
include BSAC/data/EXAMPLE_GEV_PARIS-SSP126.txt
include BSAC/data/EXAMPLE_GEV_PARIS-SSP245.tar.gz
include BSAC/data/EXAMPLE_GEV_PARIS-SSP245.txt
include BSAC/data/EXAMPLE_GEV_PARIS-SSP370.tar.gz
include BSAC/data/EXAMPLE_GEV_PARIS-SSP370.txt
include BSAC/data/EXAMPLE_GEV_PARIS-SSP585.tar.gz
include BSAC/data/EXAMPLE_GEV_PARIS-SSP585.txt
include BSAC/data/EXAMPLE_GEVMIN_FRA12.tar.gz
include BSAC/data/EXAMPLE_GEVMIN_FRA12.txt
