include BSAC/data/XN_CMIP5.nc
include BSAC/data/XN_CMIP6.csv
include BSAC/data/STAN_GEV-MODEL.stan
include BSAC/data/STAN_NORMAL-MODEL.stan
include BSAC/data/EXAMPLE_GMST.tar.gz
include BSAC/data/EXAMPLE_GMST.txt
include BSAC/data/EXAMPLE_IDF.tar.gz
include BSAC/data/EXAMPLE_IDF.txt
