include ANKIALE/data/XN/XN_CMIP5.csv
include ANKIALE/data/XN/XN_CMIP6.csv
include ANKIALE/data/STAN/STAN_GEVMODEL_PRIOR-MULTINORMAL.stan
include ANKIALE/data/STAN/STAN_GEVMODEL_PRIOR-NORMAL.stan
include ANKIALE/data/STAN/STAN_NORMALMODEL_PRIOR-MULTINORMAL.stan
include ANKIALE/data/STAN/STAN_NORMALMODEL_PRIOR-NORMAL.stan
include ANKIALE/data/EXAMPLE/CONFIGURATION.toml
include ANKIALE/data/EXAMPLE/X-EU.tar.gz
include ANKIALE/data/EXAMPLE/X-GMST.tar.gz
include ANKIALE/data/EXAMPLE/Y-FRA-TN10n.tar.gz
include ANKIALE/data/EXAMPLE/Y-FRA08-TM.tar.gz
include ANKIALE/data/EXAMPLE/Y-IDF-TX3x.tar.gz
include ANKIALE/data/EXAMPLE/Y-PARIS-TX3x.tar.gz
include ANKIALE/data/EXAMPLE/Xo/EU_HadCRUT_tas_year_1850-2024.nc
include ANKIALE/data/EXAMPLE/Xo/GMST_GISTEMP_tas_year_1880-2024.nc
include ANKIALE/data/EXAMPLE/Yo/IDF_ERA5_TX3x_xyear_1940-2024.nc
include ANKIALE/data/EXAMPLE/Yo/IDF_ERA5_TX3x_year_1940-2024.nc
include ANKIALE/data/EXAMPLE/Yo/MF-stations_Paris-Montsouris_TX3x_year_1872-2024.nc
include ANKIALE/data/EXAMPLE/Yo/PARIS_ERA5_TX3x_year_1940-2024.nc
include ANKIALE/data/EXAMPLE/Yo/SAFRAN_TM08_FRA_1958-2024.nc
include ANKIALE/data/EXAMPLE/Yo/SAFRAN_TN10n_nyear_1959-2024.nc
include ANKIALE/data/EXAMPLE/INFOS/MASK_IDF.nc
